{% set integration_name = 'reporter_jira' %}
{% set display_name = 'Jira' %}
<jira-app>
    {% for i in config['project_integrations'] %}
        <option
                value="{{ i.id }}"
                {% if i.is_default %} selected data-is_default="true"{% endif %}
                title="{{ i.description }} {% if i.is_default %} - default {% endif %}"
        >
            {{ i.description }} {% if i.is_default %} - default {% endif %}
        </option>
    {% endfor %}
</jira-app>
<script src="{{ url_for('%s.static' | format(integration_name), filename='js/test_toggle.js') }}"></script>
